---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Checkboxes from "../components/Checkboxes.svelte";
---

<Layout
  title={"Svelte Test Page"}
  description={"Stop reading this please."}
	pagefindIgnore
>
  <div class="left" slot="left">
    <Card class="toc-card">
      <h2 class="no-mt">Info</h2>
      <p class="overview-list">
        This is an install script generator. Please select a distro before selecting any packages.
      </p>
    </Card>
  </div>
  <article slot="right" data-pagefind-body>
    <Card>
      <div class="article-header" id="_top" data-pagefind-ignore>
        <div class="header">
          <div>
            <h1 class="no-mt article-h1"></h1>
          </div>
          <div class="article-info">
            <span></span>
          </div>
        </div>
      </div>
      <Checkboxes client:only="svelte"/>
      <hr class="end-of-article" />
      <a href="/projects" class="block-link" data-pagefind-ignore>← Back to projects</a>
    </Card>
  </article>
</Layout>
<style>

  .notfound-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .notfound-container h1 {
    font-size: 4rem;
    margin: 0;
  }

  .notfound-container p {
    font-size: 1.25em;
  }

  .block-link {
    margin-top: 1rem;
  }
</style>
